@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    font-family: 'Raleway', sans-serif;
    background-color: #292929;
}

.sideMenu {
  background-color: #F2F2F2;
  width: 300px;
  height: 100vh;
  padding: 30px;
  vertical-align: top;
  color: #292929;
  display: table-cell;

}

.card {
  width: 450px;
  height: 320px;
  background: #F3F3F3;
  margin: 5%;
  font-size: 14px;
  padding: 10px;
}

.content {
  width: calc(100% - 240px);
  height: 100%;
  padding: 25px;
  display: table-cell;
}

.footer{
  position: absolute;
  bottom: 0;
  margin-left: 40px;
}

.media{
  font-size: 30px;
  padding: 5px;
  text-align: center;
  margin: auto;
  color: #0096fc;
}

.menuSplit{
  border: 1px solid #292929;
}
.menu {
  list-style: none;
  margin:  24px 0;
  padding: 0;
}
.menu li {
  display: block;
  height: 43px;
  width: 100%;
  line-height: 43px;
  font-size: 16px;
  font-weight: 200;
  color: #0096fc;
  position: relative;
}
.menu li:hover {
  color: #292929;
}
.menu li:first-child {
  height: 45px;
  line-height: 35px;
  font-size: 22px;
  font-weight: 400;
  color: grey;
}

.stephen .dangerfield{
  padding: 0px;
  margin: 0px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 17px;
}
h1.large {
  font-size: 42px;
  line-height: 50px;
  font-weight: 100;
}

.hidden {
visibility: hidden;
display: none;
}
